body {
  font-family: sans-serif;
  margin: 0px;
  padding: 20px;
  background-color: #F0F8FF;
}

header {
  background-color: #483D8B;
  padding: 10px;
}

header h1 {
  text-align: center;
  font-size: 60px;
  font-family: fenix;
  color: #ffffff;
  margin: 1.5 0px;
  padding: 5px 5px;
}

h5 {
  margin-left: 2.5em;
}

footer .social-icons img {
  margin: 0px 16px;
}

footer ul {
  list-style: none;
}

footer {
  background-color: #696969;
  font-family: "Roboto", sans-serif;
  color: #fcfcfc;
  padding: 36px;
}

footer a {
  color: #fcfcfc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.left-column {
  float: left;
  width: 75%;
  margin: auto;
  padding: 10px 10px;
}

.right-column {
  float: right;
  width: 25%;
  margin: auto;
  padding: 10px 10px;
}

.card {
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
}

.health {
  max-width: 100%;
  max-height: 100%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  display: flex;
}

.footer-left {
  padding-right: 100px;
  border-right: 1px solid #c4c4c4;
}

.footer-right {
  padding-left: 100px;
}
